.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006400;
  color: white;
  padding: 20px;
}

.header h1 {
  margin: 0;
}

nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.cart-count {
  background-color: #ffcc00;
  color: black;
  border-radius: 50%;
  padding: 3px 8px;
  margin-left: 5px;
  font-weight: bold;
}

